* {
  background-color: rgb(109, 82, 82);
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

figure {
  border-radius: 2rem;
}

figcaption {
  display: flex;
  justify-content: center;
  color: rgb(152, 152, 246);
  margin: 20px; 
  /* padding: 1.5rem 3rem; */
  text-decoration: underline rgb(170, 99, 99);
  font-size: 2.5rem;
  text-decoration-thickness: 0.4rem;
}

img {
  margin: 2rem;
  border-radius: 1rem;
}

img:hover {
  background-color: red;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/starships.jpg);
}
