:root {
    --main-green: #5d8e92;
    --main-white: #fff;
    --light-green: #29D987;
    --blue: #5bb8ae;
    --orange: #ffa856;
    --brown: #af705b;
}

* {
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: underline;
    color: #1e774d;
}

#navbar {
    display: flex;
    justify-content: center;
    background-image: url(../images/fancy-01.jpg);
    position: fixed;
    width: 30%;
    border-radius: 1rem;
    margin-left: 47rem;
}

.navList a:hover {
    background-color: #999999;
}

.navList a {
    display: block;
    padding: 1.5rem;
    color: var(--main-white);
    font-size: xx-large;
}

#welcome-section {
    background-color: var(--main-green);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/fancy.jpeg);
}

h1 {
    font-size: 4rem;
    padding: 4rem;
    text-decoration: underline;
}

h2 {
    padding: 4rem;
    font-size: 3rem;
}

ul {
    display: flex;
    list-style-type: none;
    background-image: url(../images/fancy-01.jpg);
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(184, 184, 214);
}

.project-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(../images/fancy-01.jpg);
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(139, 139, 193)
}

.contact-links {
    display: flex;
}

.contact-links a {
    display: block;
    padding: 2rem 3rem;
    font-size: xx-large;
}

footer {
    padding: 3rem;
    text-align: center;
    background-color: rgb(115, 115, 165);
    color: var(--orange);
}

figure {
    margin: 2rem;
}

figure img {
    width: 30rem;
    border-radius: 2rem;
    max-height: 16rem;
    padding: .8rem;
    margin: 1em;
}

img:hover {
    transform: translateY(35px);
}

/* a:hover {
    background-color: rgb(39, 82, 139);
    border-radius: 2rem;
    margin: 3rem;
} */

figcaption {
    background-color: #6ca6c0;
    color: rgb(149, 16, 123);
    text-align: center;
    font-size: xx-large;
    border-radius: 2px 2px 6px 6px;
    padding: 1rem;
    margin: .8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact-details {
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(12px);
  }
  

/* img {
    width: 15rem;
} */

/* 1200px is roughly 75em */
@media (max-width: 75em) {
    html {
      font-size: 80%;
    }
}

@media (max-width: 60em) {
    html {
      font-size: 70%;
      color: rgb(67, 107, 172);
    }
}